#left-panel {
    width: 150px;
}

.main-content > * {
    margin-bottom: 25px;
}

.flex {
    display: flex;
    padding: var(--padding-small);
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

button:not(.disabled):hover {
    cursor: pointer;
}

.button {
    background-color: blue;
    color: white;
    height: 50px;
    width: 150px;
}

.disabled {
    background-color: lightgrey;
    color: grey;
}
