#create-channel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    height: 100px;
}

.input-container, #create-channel > input {
    width: 100%;
}